.sidebar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  /* position: fixed; */
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  width: 5px;
  background-color: rgb(233, 231, 231);
}
::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: rgb(201, 201, 201);
}

.sidebarWrapper {
  padding: 20px;
  background-color: rgb(219, 218, 218);
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebarIcon {
  margin-right: 15px;
}

.sidebarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.sidebarButton:hover {
  cursor: pointer;
  background-color: rgba(89, 117, 243, 0.336);
  color: rgb(242, 242, 242);
}

.sidebarHr {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 0;
  margin-left: 0;
}

.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sidebarFriendImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  offset: cover;
  margin-right: 10px;
}
